DATABASE_URL=
DIRECT_URL=


# Pinecone Configuration
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
PINECONE_ENVIRONMENT=

# OpenAI Configuration
OPENAI_API_KEY=



# App URLs
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-super-secret-key"

# JWT
JWT_SECRET="your-jwt-secret-key"

# Email


NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ALLOW_ADMIN_CREATION=false



